@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&family=Quattrocento+Sans&display=swap');



/* COLOR PALETTE */
:root {
  --main-bg-color: #F5F5F5;
  --gold:  #DFA549;
  --red: #D93D3E;
  --teal: #4D968F;
  --navy:  #142D34;
}

/* GLOBAL STYLING  */

body {
  margin: 0 !important;
  background: var(--main-bg-color);
  font-family: 'Quattrocento', serif;
  position: relative;
}

/* NAVIGATION */

nav {
  position: fixed;
  top: 0;
  width: 99%;
  height: 120px;
  display:  flex;
  z-index: 1000;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: var(--main-bg-color);
}

nav img {
  width: 150px;
  margin-left: 25px;
  margin-right: 25px;
}

nav p {
  font-weight: 700;
}

nav p a {
  color: var(--teal);
  text-decoration: none;
  transition: 1s all;
}

nav p a:hover {
  color: var(--red);
  transition: 1s all;
}


/* WORK GRID */
div.work {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  margin-top: 200px;
  opacity: 1;
  z-index: 1;
  transition: 3s all;
}

div.row a {
  position: relative;
  display: block;
}

div.row a img {
  transition: 1s opacity;
}

div.row a:hover img {
  transition: 1s opacity;
  opacity: 0.8;
}

div.row a h3 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  text-transform: uppercase;
  font-family: "Quattrocento Sans";
  font-weight: bold;
  font-size: 28px;
  color: var(--navy);
  width: 80%;
  transition: 1s opacity;
  opacity: 0;
  z-index: 100;
}

div.row.one {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

div.row.one img {
  width: 100%;
}

div.row.two {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  justify-content: space-between;
  align-self: center;
}

div.row.two a {
  display: block;
  width: 48%;
  align-self: center;
  position: relative;
}

div.row.two a img {
  width: 100%;
}


div.row.three {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  justify-content: space-between;
  align-self: center;
}

div.row.three a {
  display: block;
  width: 31%;
  align-self: center;
  position: relative;
}

div.row.three a img {
  width: 100%;
}



/* WORK EXPANDED */

div.work.hide {
  opacity: 0;
  z-index: -1;
  transition: 3s all;
  display: none;
}

div.work-expanded {
  height: auto;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  transition: 1s all;
  background: var(--main-bg-color);
}

div.work-expanded.show {
  opacity: 1;
  z-index: 101;
  transition: 1s all;
  margin-bottom: 150px;
}

div.work-expanded div.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 150px;
  margin-top: 150px;
}

div.work-expanded div.wrapper img {
  width: 100%;
}


/* MOBILE STYLING */
@media only screen and (max-width: 900px) {
  div.work {
    width: 90%;
  }
  div.row.two {
    display: block;
  }
  div.row.three {
    display: block;
  }
  div.row.two a {
    width: 100%;
    margin-bottom: 30px;
  }
  div.row.three a {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* div.hero {
  height: 200vh;
} */
