@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');



/* COLOR PALETTE */
:root {
  --main-bg-color: #F5F5F5;
  --gold:  #DFA549;
  --red: #D93D3E;
  --teal: #4D968F;
  --navy:  #142D34;
}

/* GLOBAL STYLING  */

body {
  margin: 0 !important;
  background: var(--main-bg-color);
  font-family: 'Quattrocento', serif;
  position: relative;
  color: var(--navy);
  overflow-x: hidden;
}

p {
  font-family: 'Quattrocento Sans';
}

p a {
  text-decoration: none;
  color:var(--teal);
  font-weight: 900;
  transition: 1s all;
}

p a:hover {
  transition: 1s all;
  border-bottom: 1px solid var(--teal);
}

h2 {
  font-size: 30px;
}

.mobile-show {
  display: none;
}
.desktop-show {
  display: block;
}

/* NAVIGATION */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  display:  flex;
  z-index: 10000000;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: var(--main-bg-color);
}

nav img {
  width: 150px;
  margin-left: 25px;
  margin-right: 25px;
}

nav p {
  font-weight: 700;
}

nav p a {
  color: var(--teal);
  text-decoration: none;
  transition: 1s all;
}

nav p a:hover {
  color: var(--red);
  transition: 1s all;
}

/* HERO IMAGE AREA */
div.hero {
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: 100vh;
}

div.hero div.illustration {
  width: 100%;
  height: 100vh;
  min-height: 900px;
  background: url(https://raw.githubusercontent.com/shannykirk/shannykirk.github.io/main/images/Untitled_Artwork%2053.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

div.hero div.intro-type {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 85%;
  max-width: 500px;
  text-align: left;
}

div.hero h1 {
  margin: 0;
  font-size: 60px;
  font-weight: normal;
}

div.hero h2 {
  margin-bottom: 20px;
  font-family: "Quattrocento Sans";
  font-weight: normal;
  font-size: 18px;
}

div.hero div.see-work-button {
  transition: 1s all;
  width: 140px;
  padding: 10px;
  background-color: var(--teal);
  border-radius: 20px;
  text-transform: uppercase;
  font-family: "Quattrocento Sans";
  font-weight: bold;
  font-size: 16px;
  color: var(--main-bg-color);
  letter-spacing: 0.25px;
  border: 1px solid var(--teal);
  text-align: center;
}

div.hero div.see-work-button:hover {
  color: var(--teal);
  transition: 1s all;
  background-color: transparent;
  cursor: pointer;
  cursor: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/144/apple/325/melting-face_1fae0.png), 4 12, auto;
}

/* WORK GRID */

div.work {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-top: 200px;
  opacity: 1;
  z-index: 1;
  transition: 3s all;
}

div.row a {
  position: relative;
  display: block;
}

div.row a img {
  transition: 1s opacity;
}

div.row a:hover img {
  transition: 1s opacity;
  opacity: 0.8;
}

div.row a h3 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  text-transform: uppercase;
  font-family: "Quattrocento Sans";
  font-weight: bold;
  font-size: 28px;
  color: var(--navy);
  width: 80%;
  transition: 1s opacity;
  opacity: 0;
  z-index: 100;
}

div.row.one {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

div.row.one img {
  width: 100%;
}

div.row.two {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  justify-content: space-between;
  align-self: center;
}

div.row.two a {
  display: block;
  width: 48%;
  align-self: center;
  position: relative;
}

div.row.two a img {
  width: 100%;
}


div.row.three {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  justify-content: space-between;
  align-self: center;
}

div.row.three a {
  display: block;
  width: 31%;
  align-self: center;
  position: relative;
}

div.row.three a img {
  width: 100%;
}

/* ABOUT SECTION */
div.about {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-top: 200px;
  opacity: 1;
  z-index: 1;
  transition: 3s all;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  align-items: flex-start;
}

div.about img {
  width: 48%;
  /* align-self: center; */
}

div.about div.text.wrapper {
  width: 48%;
}

div.about div.columns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

div.about div.columns div.experience, div.about div.columns div.awards {
  width: 45%;
}

div.about div.columns h5 {
  font-size: 21px;
}

/* WORK CASE STUDY VIEW */

div.work.hide {
  opacity: 0;
  z-index: -1;
  transition: 3s all;
  display: none;
}

div.work-expanded {
  height: auto;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: var(--main-bg-color);
  display: none;
}

div.work-expanded div.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 150px;
  margin-top: 150px;
  text-align: center;
}

div.work-expanded div.wrapper img {
  width: 100%;
}

div.work-expanded div.wrapper h5 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: grey;
  font-family: Quattrocento Sans;
  margin-bottom: 10px;
  font-size: 20px;
}

div.work-expanded div.wrapper h2 {
  margin: 0;
  font-size: 60px;
}

div.work-expanded div.wrapper p {
  width: 85%;
  margin: 0 auto;
  max-width: 650px;
  margin-bottom: 20px;
}

div.work-expanded div.wrapper p.summary {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.4;
}

div.work-expanded div.wrapper p.details {
  width: 100%;
  max-width: none;
}

div.work-expanded div.wrapper p.details span {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  display: inline-block;
  padding-left: 5px;
}

div.work-expanded div.wrapper p.details span:last-child {
  margin-left: 20px;
}

div.work-expanded div.wrapper div.process {
  text-align: left;
  margin-top: 50px;

}

div.work-expanded div.wrapper div.process h5 {
  width: 85%;
  margin: 0 auto;
  max-width: 650px;
  margin-bottom: 20px;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 8px;
}

div.work-expanded div.wrapper div.process h3 {
  width: 85%;
  margin: 0 auto;
  max-width: 650px;
  font-size: 30px;
  margin-bottom: 10px;
}

div.work-expanded div.wrapper p.back {
  transition: 1s all;
  margin: 0 auto;
  width: 170px;
  padding: 10px;
  background-color: var(--teal);
  border-radius: 20px;
  text-transform: uppercase;
  font-family: "Quattrocento Sans";
  font-weight: bold;
  font-size: 16px;
  color: var(--main-bg-color);
  letter-spacing: 0.25px;
  border: 1px solid var(--teal);
  margin-top: 40px;
}

div.work-expanded div.wrapper p.back:hover {
  color: var(--teal);
  transition: 1s all;
  background-color: transparent;
  cursor: pointer;
}

/* FOOTER SECTION */
div.footer {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: var(--main-bg-color);
  background: var(--teal);
}

div.footer div.wrapper {
  width: 85%;
  margin: 0 auto;
  max-width: 650px;
  margin-bottom: 20px;
  padding: 0;
}

div.footer div.wrapper p {
  width: 85%;
  margin: 0 auto;
  max-width: 650px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
}

div.footer div.wrapper div.social {
  display: flex;
  font-size: 25px;
  text-align: center;
  justify-content: center;
}

div.footer div.wrapper div.social i {
  padding: 0px 10px;
}

div.footer div.wrapper div.social a {
  color: var(--main-bg-color);
  opacity: 0.5;
  transition: 1s opacity;
}

div.footer div.wrapper div.social a:hover {
  opacity: 1;
  transition: 1s opacity;
  cursor: pointer;
}

/* TABLET STYLING */

@media only screen and (max-width: 1450px) and (min-width: 1001px) {
  div.hero div.intro-type {
    left: 5%;
    max-width: 290px;
  }
  div.hero div.illustration {
    background-position: 68% 50%;
  }
}

/* MOBILE STYLING */

@media only screen and (max-width: 1000px) {
  .mobile-show {
    display: block;
  }
  .desktop-show {
    display: none;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    display:  flex;
    z-index: 10000000;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: var(--main-bg-color);
  }

  nav img {
    width: 60px;
    margin-left: 25px;
    margin-right: 25px;
  }

  nav p {
    font-weight: 700;
  }

  nav p a {
    color: var(--teal);
    text-decoration: none;
    transition: 1s all;
  }

  nav p a:hover {
    color: var(--red);
    transition: 1s all;
  }

  div.hero {
    margin-top: 75px;
    min-height: 100vh;
  }
  div.hero div.see-work-button {
    margin: 0 auto;
  }
  div.work {
    width: 90%;
    padding-top: 120px;
  }

  div.work-exapnded {
    width: 90%;
  }

  div.row.two {
    display: block;
  }
  div.row.three {
    display: block;
  }
  div.row.two a {
    width: 100%;
    margin-bottom: 30px;
  }
  div.row.three a {
    width: 100%;
    margin-bottom: 30px;
  }
  div.about {
    display: block;
    width: 90%;
  }
  div.about img {
    width: 100%;
  }
  div.about div.text.wrapper {
    width: 100%;
  }
  div.hero div.intro-type {
    position: relative;
    transform: translateY(0);
    left: auto;
    margin: 0 auto;
    top: auto;
    padding-top: 8vh;
    text-align: center;
  }
  div.hero div.illustration {
    position: relative;
    top: auto;
    left: auto;
    margin: 0 auto;
    margin-top: 50px;
    height: 50vh;
    min-height: auto;
    background-position: 85% 50%;
    max-width: 400px;
  }
  div.hero h1 {
    font-size: 45px;
  }
  div.work-expanded div.wrapper h2 {
    font-size: 45px;
  }
  div.work-expanded div.wrapper h5 {
    font-size: 16px;
  }
  div.work-expanded div.wrapper {
    width: 90%;
    margin-top: 100px;
  }

  div.work-expanded div.wrapper img {
    width: 110%;
    margin-left: -5%;
  }


}


/* div.hero {
  height: 200vh;
} */
